.Nav{
  position:fixed;
  top:0;
  z-index:2;
  width:100%;
 
}
.slide{
  height:100vh;
  width:100%;
}
.ProcessContainer {
  height: 70vh;
  width: 100%;
  background-color: rgb(31, 27, 27);
  color: white;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
  align-items: center; 
  padding: 20px; 
}

.box {

  height: 30vh; 
  background-color: rgb(31, 27, 27);
  border: 2px solid black;
  margin: 10px; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  font-size: 3vw; 
}
.Container_heading{
  font-size: 45px;
  font-weight: bold;
  margin-top: 10vh;
  text-transform: capitalize;
}
.heading{
  font-size: 45px;
  font-weight: bold;
  margin-top: 15vh;
  text-transform: capitalize;
  text-align: center;
}
.allmembers,.allmembers2{
  height:70vh;
  width:100vw;
  background-color: rgb(31, 27, 27);
  color:white;
  display: flex;
  justify-content: space-evenly;
  
  }
  .members{
      height:35vh;
      width:25vw;
  }
  .inputform{
    background-color:rgb(31, 27, 27) ;
    color:white;

  }
  .article{
    color:white;
  }
  .data{
    
    width:40%;
    margin-left: 30%;
    margin-right:30%;
    
  }
  .submitbtn{
    float: right;
    margin-right:20px;
  }
  @media (max-width: 260px) {
    .ProcessContainer,.box{
      flex-direction: column;
    }
  }
  .services{
    margin-top: 5px;
  }
    
    
    

