.container{
    border: 2px solid black;
    border-radius: 5px;
    margin:auto;
    margin-top: 20px;
    width:30%;
    text-align: center;
}
@media (max-width: 450px) {
    .container{
width:250px;
margin:auto;

    }
}